@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fundo: #6663f5;
    --fundoSection: #f5f5f5;
    --corTexto: #140052;
    --corBotao: #4b007c;
    --corSelect: #3805576e;
    --corProgresso: #008cdd;
    --corResposta: #c5cdf0;
    --corRespostaErrada: #f0a8c4;
    --corRespostaCerta: #61f1c6;

    --fontPadrao: "Poppins", sans-serif;
    --fontBotao: "Londrina Solid", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo);
    font-family: var(--fontPadrao);
}

main {
    margin: auto;
    width: min(600px, 100vw);
    background-color: var(--fundoSection);
    overflow-y: auto;
}

section {
    padding: 2em;
    height: 100dvh;
    color: var(--corTexto);
    width: 100%;
    /* padding: 3em 1em; */
}

#homeSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#homeSection figure {
    width: min(350px, 50%);
}

#homeSection figure img {
    width: 100%;
    object-fit: contain;
}

#homeSection h1 {
    font-size: 2em;
}

.button {
    all: unset;
    text-align: center;
    background-color: var(--corBotao);
    font-family: var(--fontBotao);
    color: #fff;
    font-size: 2em;

    height: 50px;
    width: 100%;

    border-radius: 15px;
    box-shadow: 0px 5px 5px #00000047;
    cursor: pointer;
}

#verify.disabled {
    cursor: default;
    filter: opacity(50%);
}

button:hover {
    filter: brightness(.9);
}

#quizSection {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

#quizSection .progress {
    display: block;
    background-color: #d9d9d9;
    border-radius: 5px;
    height: .6em;
    width: 100%;
    overflow: hidden;
}

#quizSection .progress span {
    display: block;
    background-color: var(--corProgresso);
    height: 100%;
    width: 0;
    transition: all .5s;
}

#quizSection h2 {
    font-size: 1.2em;
    font-weight: 600;
}

.answersContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.answersContainer input {
    display: none;
}

.answer {
    all: unset;
    background-color: var(--corResposta);

    border-radius: 15px;
    padding: 15px;
    max-width: 100%;

    cursor: pointer;
}

.answer:hover {
    filter: brightness(.95);
}

.answersContainer input:checked+label {
    outline: .2em solid var(--corSelect);
    filter: saturate(2.5) contrast(.9) brightness(.9);
}

.answersContainer input+label.correct {
    background-color: var(--corRespostaCerta);
}

.answersContainer input+label.wrong {
    background-color: var(--corRespostaErrada);
}

#resultsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

#resultsSection h2,
#tempContainer {
    font-size: 1.3em;
    font-weight: 600;
}

#resultsSection figure {
    display: grid;
    place-items: center;

    width: min(200px, 100%);
    aspect-ratio: 1 / 1;
    padding: 1em;
}

#resultsSection figure img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-top: .5em;
}

#resultsSection h3,
#pointContainer {
    font-weight: 600;
    font-size: 2.5em;
}

#pointContainer #point {
    color: var(--corProgresso);
}


#quizSection,
#resultsSection,
#next {
    display: none;
}

/*----------------------- Estilo para Tablets e Desktops------------------- */
@media screen and (min-width: 600px) {
    main {
        margin: 1em auto;
        border-radius: 10px;
    }

    section {
        height: auto;
        min-height: 600px;
    }

    #homeSection h1 {
        font-size: 3em;
    }

    #quizSection h2 {
        font-size: 1.5em;
    }

    #resultsSection picture {
        width: min(250px, 100%);
    }

    #resultsSection p {
        font-size: 1.3em;
    }

    #pointContainer {
        font-weight: 600;
        font-size: 3em;
    }

    #resultsSection h2,
    #tempContainer {
        font-size: 1.7em;
        font-weight: 600;
    }
}