@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fundo: #F0EBE6;
    --corBotao: #562121;
    --corSelect: #56212133;
    --corProgresso: #2b9f3f;
    --corResposta: #f0ddc5;
    --corRespostaErrada: #F0C5C5;
    --corRespostaCerta: #C6F0C5;

    --fontPadrao: "Poppins", sans-serif;
    --fontBotao: "Londrina Solid", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo);
    font-family: var(--fontPadrao);
}

main {
    height: 100vh;
}

section {
    height: 100%;
    width: 100%;
    padding: 3em 1em;
}

#homeSection {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button {
    all: unset;
    text-align: center;
    background-color: var(--corBotao);
    font-family: var(--fontBotao);
    color: var(--fundo);
    font-size: 2em;

    height: 50px;
    width: 100%;

    border-radius: 15px;
}

#quizSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#quizSection  .progress {
    display: block;
    background-color: #d9d9d9;
    border-radius: 5px;
    height: .6em;
    width: 100%;
    overflow: hidden;
}
#quizSection  .progress  span{
    display: block;
    background-color: var(--corProgresso);
    height: 100%;
    width: 50%;
}

#quizSection  h2{
    font-size: 1.2em;
    font-weight: 600;
}
.answersContainer {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.answersContainer input{
    display: none;
}
.answersContainer input:checked + label{
    outline:  .2em solid var(--corSelect);
    filter: saturate(2.5) contrast(.9) brightness(.9);
}

.answer {
    all: unset;
    background-color: var(--corResposta);
    
    border-radius: 15px;
    padding: 15px;
    width: 100%;

    cursor: pointer;
}

#quizSection,
#resultsSection,#next{
    display: none;
}